<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Got paid</title>
</head>
<body>
<p>
    stripeToken: <span th:text="${payForm.stripeToken}">stripeToken</span><br>
    cardIdToken: <span th:text="${payForm.cardIdToken}">cardIdToken</span><br>
    cardNumber: <span th:text="${payForm.cardNumber}">cardNumber</span><br>
    expMonth: <span th:text="${payForm.expMonth}">expMonth</span><br>
    expYear: <span th:text="${payForm.expYear}">expYear</span><br>
    cardCvc: <span th:text="${payForm.cardCvc}">cardCvc</span><br>
</p>
</body>
</html>