<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello!'"></title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

<h3 sec:authorize="isAuthenticated()"><br>
    HELLO <span sec:authentication="name">user name</span> <br>
    ROLE <span sec:authentication="authorities">user roles</span><br>
    STATUS <span th:text="${userData.status}">user status</span><br>
    USER ROLES <span th:each="role: ${userData.roles}">
        <br><span th:text="${role}">user role</span>
    </span><br>
    USER ADDRESSES <span th:each="address: ${userData.addresses}">
        <br><span th:text="${address}">address</span>
    </span>
</h3>

<script src="/js/main.js"></script>
</body>
</html>