<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <title>Index</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/hello}">Hello</a></li>
                <li><a th:href="@{/pay}">Pay</a></li>
                <li><a th:href="@{/lucky}">Lucky</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/swagger-ui.html}">Swagger</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <h3>User Registration and Login Module using Spring Boot, Spring
        MVC, Spring Security, JPA/Hibernate and Thymeleaf</h3>

    <div>value of: sec:authentication="principal.authorities"
        <span sec:authentication="principal.authorities">User-r-r-r-r!</span>
    </div>

    <div th:if="${#request.isUserInRole('ROLE_CUSTOMER')}">
        value visible if: th:if="${#request.isUserInRole('ROLE_CUSTOMER')}"
    </div>

    <div sec:authorize="isAuthenticated()">
        isAuthenticated() && sec:authentication="name": <span sec:authentication="name">user name</span><br>
        isAuthenticated() && sec:authentication="authorities": <span sec:authentication="authorities">user roles</span>
    </div>

    <div sec:authorize="hasRole('ROLE_CUSTOMER')">visible to: sec:authorize="hasRole('ROLE_CUSTOMER')"</div>
    <div sec:authorize="hasRole('ROLE_USER')">visible to: sec:authorize="hasRole('ROLE_USER')"</div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">visible to: sec:authorize="hasRole('ROLE_ADMIN')"</div>
    <div sec:authorize="hasRole('CUSTOMER')">visible to: sec:authorize="hasRole('CUSTOMER')"</div>
    <div sec:authorize="hasRole('USER')">visible to: sec:authorize="hasRole('USER')"</div>
    <div sec:authorize="hasRole('ADMIN')">visible to: sec:authorize="hasRole('ADMIN')"</div>
    <div sec:authorize="isAuthenticated()">visible to: sec:authorize="isAuthenticated()"</div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>